* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f4f8;
}

.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  width: 350px;
  padding: 25px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-card input {
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.auth-card button {
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.auth-card span {
  color: #2563eb;
  cursor: pointer;
  font-weight: bold;
}

.chat-container {
  height: 100vh;
  display: flex;
}

.sidebar {
  width: 300px;
  background: #111827;
  color: white;
  padding: 20px;
  overflow-y: auto;
}

.sidebar button {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.user-info {
  font-size: 14px;
  color: #d1d5db;
}

.receiver-box {
  margin-top: 20px;
}

.receiver-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: none;
}

.chat-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #e5e7eb;
}

.chat-header {
  height: 70px;
  padding: 15px 20px;
  background: white;
  border-bottom: 1px solid #ddd;
}

.chat-header h3 {
  margin: 0;
}

.chat-header p {
  margin: 5px 0 0;
  color: green;
  font-size: 14px;
}

.messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.message {
  max-width: 60%;
  padding: 10px 14px;
  margin-bottom: 10px;
  border-radius: 12px;
}

.my-message {
  background: #2563eb;
  color: white;
  margin-left: auto;
}

.other-message {
  background: white;
  color: black;
  margin-right: auto;
}

.message p {
  margin: 0;
}

.message-input {
  display: flex;
  padding: 15px;
  background: white;
  border-top: 1px solid #ddd;
}

.message-input input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.message-input button {
  margin-left: 10px;
  padding: 12px 20px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}